IO_LOC  "c[0]" 77;
IO_PORT "c[0]" IO_TYPE=LVCMOS33;

IO_LOC  "c[1]" 76;
IO_PORT "c[1]" IO_TYPE=LVCMOS33;

IO_LOC  "i[0]" 75;
IO_PORT "i[0]" IO_TYPE=LVCMOS33;

IO_LOC  "c[2]" 74;
IO_PORT "c[2]" IO_TYPE=LVCMOS33;

IO_LOC  "i[1]" 73;
IO_PORT "i[1]" IO_TYPE=LVCMOS33;

IO_LOC  "i[2]" 72;
IO_PORT "i[2]" IO_TYPE=LVCMOS33;

IO_LOC  "i[3]" 71;
IO_PORT "i[3]" IO_TYPE=LVCMOS33;

IO_LOC  "Numero_binario[3]" 68;
IO_PORT "Numero_binario[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "Numero_binario[2]" 57;
IO_PORT "Numero_binario[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "Numero_binario[1]" 56;
IO_PORT "Numero_binario[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "Numero_binario[0]" 55;
IO_PORT "Numero_binario[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "idx[2]" 54;
IO_PORT "idx[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "idx[1]" 53;
IO_PORT "idx[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "idx[0]" 51;
IO_PORT "idx[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "seg_o[6]" 79;
IO_PORT "seg_o[6]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg_o[5]" 85;
IO_PORT "seg_o[5]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg_o[4]" 84;
IO_PORT "seg_o[4]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg_o[3]" 83;
IO_PORT "seg_o[3]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg_o[2]" 82;
IO_PORT "seg_o[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg_o[1]" 81;
IO_PORT "seg_o[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg_o[0]" 80;
IO_PORT "seg_o[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "an_o" 25;
IO_PORT "an_o" IO_TYPE=LVCMOS33;
